/*=========Fonts==========*/

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Play:400,700');

/*========Universals=======*/
.inconsolata {
  color: #fff;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}



/*=========Navbar=========*/

.nav-style {
    background-color: #595556;
    color: #fff;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.nav-style .pull-right a {
    text-decoration: none;
    color: #fff;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.nav-style .pull-right a:hover {
    color: #595556;
}

.nav-pills>li>a:hover i {
    color: #595556;
}

.nav-style i {
    color: #fff;
    min-height: 10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
    background-color: #595556;
}

.nav-pills>li.active>a:hover {
    background-color: #fff;
    color: #595556;
}


/*========Main Section========*/

.page-background {
    background-image: url('../img/background-img-pixel.png');
    /*height: 800px;*/
    background-size: cover;
    background-position: center;
}

.construct {
    margin-top: 5%;
    font-size: 72px;
}

.user-text {
  font-size: 56px;
}

.wallet-text {
  font-size: 45px;
}

.shape-left {
  width: 100%;
}

.shape-right {
  width: 60%;
  margin-right: -150px;
}

/*========Play Button=======*/
.play-text {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
}

.play-button .btn-default {
  background-color: #B8F1ED;
  color: #fff;
  border-color: #595556;
  margin-bottom: 30px;
}

.play-button .btn-default:hover {
  background-color: #595556;
  color: #B8F1ED;
  border-color: #B8F1ED;
}

/*======Media Queries========*/
/*Phone Screen*/
@media screen and (width: 300px) {

}

/*Tablet Screen*/
@media screen and (min-width: 600px) {

}

@media screen and (max-width: 1400px) {
  /*Resize body text*/
  .construct {
    font-size: 63px;
  }
  .user-text {
    font-size: 45px;
  }
  .wallet-text {
    font-size: 36px;
  }
}
