/*=========Fonts==========*/

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Play:400,700');

/*========Universals=======*/

.inconsolata {
    color: #fff;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    z-index: 1;
}

.play-font {
    font-family: 'Play', sans-serif;
}


/*=========Navbar=========*/

.nav-style {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #595556;
    color: #fff;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.navbar-toggle {
    border: 2px #fff;
    background-color: #595556;
}

.navbar-toggle:hover {
    border: 1px solid #fff;
}

.navbar-toggle span {
    background-color: #fff;
}

.nav-style a {
    color: #fff;
}

.nav-style a:hover {
  background-color: #fff;
  color: #595556;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
    background-color: #595556;
}

.nav-pills>li.active>a:hover {
    background-color: #fff;
    color: #595556;
}


/*========Main Section========*/

.page-background {
    padding-top: 40px;
    /*background-image: url('../img/background-img-pixel.png');*/
    background-color: #2980b9;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.construct {
    margin-top: 5%;
    font-size: 72px;
}

.user-text {
    font-size: 56px;
}

.page-background img {
    z-index: 0;
}

.wallet-text {
    font-size: 45px;
}

.shape-left {
    width: 100%;
    transform: translate(-2%, -30%);
}

.right-content {
    overflow: hidden;
}

/*===========Work Tiles========*/

.work-background {
  background-color: #76F1E7;
}

.work-tiles {
  min-height: 500px;
}

.work-tiles a {
  text-decoration: none;
  color: #fff;
}

.work-tiles div:nth-child(1) {
  width: 50%;
  height: 100%;
  background-color: #2c3e50;
}

.work-tiles div:nth-child(1) img {
  width: 100%;
}

.work-tiles div:nth-child(1):hover img {
  transform: scale(.95);
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/restaurante-food.png');*/
  color: #fff;
  animation: spin 2s infinite;
}

.work-tiles div:nth-child(2) {
  width: 50%;
  height: 100%;
  background-color: #85919C;
}

.work-tiles div:nth-child(2) img {
  width: 100%;
}

.work-tiles div:nth-child(2):hover img {
  transform: scale(.95);
  /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/restaurante-food.png');*/
  color: #fff;
  animation: spin 2s infinite;
}

.work-tiles div:nth-child(3) {
  background-image: url('../img/Road-Sign.png');
  width: 50%;
  height: 100%;
}

.work-tiles div:nth-child(3) img {
  width: 100%;
}

.work-tiles div:nth-child(3):hover img {
  transform: scale(.95);
  animation: spin 2s infinite;
}

.work-tiles div:nth-child(4) {
  background-image: url('../img/codepen-quote.png');
}

.work-tiles div:nth-child(4) {
  /*animation: spin 2s infinite;*/
}

/*.work-tiles div img {
  max-width: 200px;
  width: 100%;
  height: 200px;
}*/

/*========Spin Animations=========*/


@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}



/*=========Footer=========*/

footer.container-fluid {
    background-color: #595556;
    padding-top: 25px;
    padding-bottom: 15px;
}

footer a {
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  font-size: 20px;
  color: #76F1E7;
}

footer .fa {
  font-size: 35px;
}
/*========Form===========*/

form {
    background-color: rgba(46, 204, 113, 1.0);
}

form.play-font {
    font-weight: 700;
}

form label span {
    color: red;
}


/*=======Footer Contact==========*/


/*======Media Queries========*/

@media screen and (max-width: 1400px) {
    /*Resize body text*/
    .construct {
        font-size: 63px;
    }
    .user-text {
        font-size: 45px;
    }
    .wallet-text {
        font-size: 36px;
    }
}

@media screen and (max-width: 1250px) {
    /*Resize body text*/
    .construct {
        font-size: 59px;
    }
    .user-text {
        font-size: 41px;
    }
    .wallet-text {
        font-size: 32px;
    }
}


/*Mid-sized screen*/

@media screen and (max-width: 900px) {
    /*Resize body text*/
    .construct {
        font-size: 50px;
    }
    .user-text {
        font-size: 34px;
    }
    .wallet-text {
        font-size: 28px;
    }
}

@media screen and (max-width: 770px) {
    .construct {
        font-size: 44px;
    }
    .user-text {
        font-size: 30px;
    }
    .wallet-text {
        font-size: 24px;
    }
    .shape-right {
        width: 80%;
    }
}

@media screen and (max-width: 680px) {
    .construct {
        font-size: 38px;
    }
    .user-text {
        font-size: 24px;
    }
    .wallet-text {
        font-size: 18px;
    }
}

@media screen and (max-width: 580px) {
    .construct {
        font-size: 28px;
    }
    .user-text {
        font-size: 18px;
    }
    .wallet-text {
        font-size: 12px;
    }
}
